.container {
  max-width: 600px;
  margin: 0 auto;
}

.landingContainer {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
}

.landingTitle {
  margin-bottom: 2rem;
}

.welcomeText {
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  text-align: center;
}

